#animCanvas {
    position: absolute;
    right: 0;
    z-index: -3
}

#wrapper {
  font-family: 'Open Sans Condensed', sans-serif;
  font-size: 6em;
  margin-top: 1em;
  width: 100%;
  position: absolute;
  left: 0;
}